<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ url_for('static', filename='gifflrG.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='gifflr.css') }}">
    
        <title>gifflr.</title>
    </head>
    <style>
         a {
            color: white;
            text-decoration: none;
        } 
    </style>
    <body>

        <img style="padding-top: 100px" src="{{tumurl}}">

                    
        <div class="centered" style="padding-top: 50px">
            <a href="{{tumurl}}">{{tumurl}}<a>
                
        
            <div style="padding-top: 50px">
                <a href="/" class="button">Go Back</a>
            </div>
        </div>
               

    </body>
</html>