<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ url_for('static', filename='gifflrG.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='gifflr.css') }}">

        <title>gifflr.</title>
    </head>
    <style>
        a {
            color: #19b5fe;
            text-decoration: none;
        } 

        .logo {
            width: 500px;
            height: 200px;
            margin-left: 100px;
            background: url("{{ url_for('static', filename='gifflr_logo_png.png') }}");
        }

        .logo:hover {
            background: url("{{ url_for('static', filename='gifflr_logo_gif.gif') }}");
        }
    </style>
    <body>
        <div class="centered" style="padding-top: 100px">
            <div class="logo"></div>
            <div style="padding-top: 50px">
                <form action="/gifs" method="post" name="stringform">
                    <div class="centered" style="width: 500px">
                        <input type="text" class="inputs" placeholder="Type something, see what happens..." name="string" class="submit_on_enter"> 
                        <input type="submit" style="display: none" />
                    </div>
                </form>
            </div>

            <div class="footer">
                <p>Made for <a href="https://www.facebook.com/bitcmp">Bitcamp 2014</a>, by Niko Yasui and Samson Stannus.</p>
            </div>
        </div>
    </body>
</html>